

.main_menu{
    margin: 0%;
    padding: 0%;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    z-index: 3;
    width: 10rem;
    flex-direction: column;
}
.main_menu_top a img{
    width:10rem ;
    height: auto;
}
.main_menu_nav{
    position: absolute;
    width: 100%;
    margin: 0%;
    padding: 0%;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    align-self: center;
}
.main_menu_nav a{
    height: 50px;
    width: 100%;
    border-width: 2px 0px 2px 0px;
    border-color: #181818;
    border-style: solid ;
    border-radius: 3px;
}

.moi{
    padding-left: 10rem;
    display: flex;
}
.moi h1{
    color: lightgray;
    text-align:center;
}
.moi .text{
    color: lightgray;
    width: 50%;
    padding: 8rem 4rem;
}
.moi .canvas{
    width: 50%;
    padding: 8rem 4rem;
}